
<h1>HOME PAGE</h1>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Ff%2Ff7%2FDevicon-ruby-plain.svg%2F600px-Devicon-ruby-plain.svg.png&f=1&nofb=1", style="width:100%", style="height:100%",alt="nothing">

<%= link_to 'contacts', contacts_path%>