<div class="card text-center", style="border:1px solid grey">
  <div class="card-header">
<h1>New Contact</h1>

<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path, class:"btn btn-light"%>
</div>
</div>